{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Task 2: Equations and letters 
{% endblock %}

{% block content %}

<p> On the following screens, you will see eight equations each followed by a letter. <br/><br/>
    Example: <strong>Is (1 x 2) + 1 = 3? Letter: V</strong><br/><br/>
    Please answer the question and try to memorize the letters. You will have 15 seconds per equation.<br/>
    On the final screen, you will be asked to recall <strong>all eight letters</strong> from the previous screens.
    <br/><br/> Click next to start. </p>

    {% next_button %}
{% endblock %}


